* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    width: 100%;
}

:root {
    --impact-black: #000000;
    --impact-white: #FFFFFF;
    --impact-yellow: #F8F053;
    --impact-light-grey: #C2C1C1;
    --impact-dark-grey: #474747;
}

